/**
 * @fileOverview Стили страницы о компании.
 */

@use "base/mixins";
@use "variables";
@use "sass:math";

.about-page {
  background-color: var(--bg-main-color);
}

.about-showrooms {
  padding-top: mixins.toRem(57);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(37);
  }

  &__container {
    @media (width < #{mixins.toEm(variables.$mobile)}) {
      padding-inline: mixins.toRem(15);
    }
  }

  &__grid {
    margin-top: mixins.toRem(36);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(24);
    }
  }
}

.about-services {
  padding-top: mixins.toRem(100);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(61);
  }

  &__slider {
    margin-top: mixins.toRem(36);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(24);
    }
  }

  &__track {
    @media (width < #{mixins.toEm(variables.$mobile)}) {
      overflow: visible;
    }
  }
}

.about-slider {
  
  .about-services__track {
    @media (width < #{mixins.toEm(variables.$pc)}) {
      margin-inline: mixins.toRem(-15);
      padding-inline: mixins.toRem(15) !important;
    }
  }

}

.about-info-card {
  display: flex;
  flex-direction: column;
  padding: mixins.toRem(40) mixins.toRem(46);
  border-radius: mixins.toRem(8);
  background-color: var(--bg-section-color);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding: mixins.toRem(24) mixins.toRem(16) mixins.toRem(29);
    border-radius: mixins.toRem(5);
  }

  svg {
    display: block;
    margin-bottom: mixins.toRem(30);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-bottom: mixins.toRem(20);
    }
  }

  h3 {
    font-family: var(--font-tik-tok);
    font-size: mixins.toRem(20);
    font-weight: 500;
    line-height: math.div(25, 20);
    letter-spacing: -0.02em;

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      font-size: mixins.toRem(18);
      line-height: math.div(21, 18);
    }
  }

  p {
    margin-top: mixins.toRem(17);
    color: var(--text-secondary-color);
    font-size: mixins.toRem(15);
    line-height: math.div(22, 15);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      font-size: mixins.toRem(14);
      line-height: math.div(18, 14);
    }
  }
}

.about-brands {
  margin-top: mixins.toRem(120);
  margin-inline: auto;
  padding-block: mixins.toRem(62) mixins.toRem(80);
  background-color: var(--bg-section-color);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    margin-top: mixins.toRem(47);
    padding-block: mixins.toRem(40);
    border-radius: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: mixins.toRem(30);
    margin-top: mixins.toRem(36);

    @media (width < #{mixins.toEm(variables.$tablet)}) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: mixins.toRem(16);
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: mixins.toRem(12);
      margin-top: mixins.toRem(24);
    }
  }
}

.about-brand-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: mixins.toRem(28);
  padding: mixins.toRem(20) mixins.toRem(20) mixins.toRem(25);
  border-radius: mixins.toRem(8);
  color: var(--text-green-color);
  background-color: var(--bg-main-color);
  font-size: mixins.toRem(14);
  line-height: math.div(20, 14);
  text-align: center;

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    gap: mixins.toRem(18);
    padding: mixins.toRem(9) mixins.toRem(8) mixins.toRem(17);
    border-radius: mixins.toRem(6);
    font-size: mixins.toRem(13);
    line-height: math.div(18, 13);
  }

  span {
    width: 100%;
    aspect-ratio: 214 / 100;
    display: grid;
    place-items: center;
    padding: mixins.toRem(18);
    border: mixins.toRem(2) solid var(--border-medium-color);
    border-radius: mixins.toRem(5);

    .loaded & {
      transition: border-color 0.3s ease;
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      aspect-ratio: 147 / 76;
      padding: mixins.toRem(12);
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  small {
    font: inherit;
  }

  .loaded & {
    transition: box-shadow 0.3s ease;
  }

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 mixins.toRem(4) mixins.toRem(30) var(--shadow-card-color);

      span {
        border-color: var(--border-green-color);
      }
    }
  }
}

.about-team {
  padding-top: mixins.toRem(92);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(49);
  }

  &__slider {
    margin-top: mixins.toRem(36);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(24);
    }
  }

  &__track {
    @media (width < #{mixins.toEm(variables.$mobile)}) {
      overflow: visible !important;
    }
  }
}

.about-team-card {
  padding: mixins.toRem(28) mixins.toRem(30) mixins.toRem(40);
  border-radius: mixins.toRem(8);
  background-color: var(--bg-section-color);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding: mixins.toRem(14) mixins.toRem(16) mixins.toRem(25);
    border-radius: mixins.toRem(5);
  }

  &__image {
    width: 100%;
    aspect-ratio: 260 / 256;
    overflow: hidden;
    border-radius: mixins.toRem(8);
    background-color: var(--bg-team-color);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      border-radius: mixins.toRem(5);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    margin-top: mixins.toRem(28);
    font-family: var(--font-tik-tok);
    font-size: mixins.toRem(20);
    font-weight: 500;
    line-height: math.div(25, 20);
    letter-spacing: -0.02em;

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(17);
      font-size: mixins.toRem(18);
      line-height: math.div(21, 18);
    }
  }

  p {
    margin-top: mixins.toRem(8);
    color: var(--text-secondary-color);
    font-size: mixins.toRem(15);
    line-height: math.div(22, 15);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(7);
      font-size: mixins.toRem(14);
      line-height: math.div(18, 14);
    }
  }
}

.about-clients {
  padding-top: mixins.toRem(93);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(58);
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: mixins.toRem(30);
    margin-top: mixins.toRem(36);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      grid-template-columns: 1fr;
      gap: mixins.toRem(14);
      margin-top: mixins.toRem(22);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: mixins.toRem(30);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      grid-template-columns: 1fr;
      gap: mixins.toRem(8);
    }

    article {
      display: flex;
      padding: mixins.toRem(36);
      border-radius: mixins.toRem(8);
      background-color: var(--bg-section-color);
      font-family: var(--font-tik-tok);
      font-size: mixins.toRem(20);
      font-weight: 500;
      line-height: math.div(25, 20);
      letter-spacing: -0.02em;

      @media (width < #{mixins.toEm(variables.$mobile)}) {
        align-items: center;
        padding: mixins.toRem(20) mixins.toRem(15);
        border-radius: mixins.toRem(5);
        font-size: mixins.toRem(18);
        line-height: math.div(21, 18);
      }
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 675 / 350;
    object-fit: cover;
    border-radius: mixins.toRem(8);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(1);
      border-radius: mixins.toRem(5);
    }
  }
}

.about-warranty {
  padding-top: mixins.toRem(92);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(60);
  }

  &__slider {
    margin-top: mixins.toRem(36);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(24);
    }
  }

  &__track {
    @media (width < #{mixins.toEm(variables.$mobile)}) {
      overflow: visible;
    }
  }
}

.about-request {
  padding-top: mixins.toRem(120);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(66);
  }
}
