/**
 * @fileOverview Стили общих элементов форм и drawer личного кабинета.
 */

@use "sass:math";
@use "/src/scss/base/mixins.scss";

.form {
  display: flex;
  flex-direction: column;

  @include mixins.adaptiveValue("gap", 20, 14);

  &__item {
    position: relative;
    display: block;
    border: mixins.toRem(1) solid transparent;
    border-radius: mixins.toRem(5);
    background-color: var(--bg-main-color);

    .loaded & {
      transition: border-color 0.3s ease 0s;
    }

    &._form-focus {
      border-color: var(--border-green-color);
    }

    &._form-error {
      border-color: var(--text-error-color);
    }

    &_shadow {
      box-shadow: 0 mixins.toRem(1) mixins.toRem(1) 0 rgba(57, 72, 84, 0.2) inset;
    }
  }

  &__input {
    width: 100%;
    padding-top: mixins.toRem(24);
    padding-bottom: mixins.toRem(10);
    outline: none;
    color: var(--text-main-color);
    font-size: mixins.toRem(15);
    line-height: math.div(22, 15);

    @include mixins.adaptiveValue("padding-left", 23, 16);
    @include mixins.adaptiveValue("padding-right", 23, 16);
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
    color: var(--text-secondary-color);
    font-size: mixins.toRem(15);
    line-height: math.div(22, 15);
    @include mixins.adaptiveValue("left", 23, 16);

    .loaded & {
      transition:
        top 0.3s ease 0s,
        translate 0.3s ease 0s,
        font-size 0.3s ease 0s;
    }

    .form__item._form-focus &,
    .form__item._form-input & {
      top: mixins.toRem(8);
      translate: none;
      font-size: mixins.toRem(11);
    }
  }

  &__viewpass {
    position: absolute;
    top: 50%;
    right: mixins.toRem(18);
    translate: 0 -50%;
    display: flex;
    cursor: pointer;
    color: var(--text-secondary-color);
    opacity: 0.45;

    .loaded & {
      transition: opacity 0.3s ease 0s;
    }

    &._viewpass-active {
      opacity: 1;
    }
  }

  &__boxwrap {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    gap: mixins.toRem(11);
    cursor: pointer;
    color: var(--text-secondary-color);

    input {
      position: absolute;
      width: mixins.toRem(1);
      aspect-ratio: 1;
      opacity: 0;

      &:checked + .form__box {
        border-color: var(--border-green-color);

        &::after {
          scale: 1;
        }
      }

      &:focus-visible + .form__box {
        outline: mixins.toRem(2) solid var(--border-green-color);
        outline-offset: mixins.toRem(2);
      }
    }

    &._form-error .form__box {
      border-color: var(--text-error-color);
    }
  }

  &__box {
    position: relative;
    width: mixins.toRem(20);
    aspect-ratio: 1;
    flex: 0 0 auto;
    border: mixins.toRem(1) solid var(--border-input-color);
    border-radius: mixins.toRem(2);
    background-color: var(--bg-main-color);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 70%;
      border-radius: mixins.toRem(1);
      background-color: var(--bg-green-color);
      translate: -50% -50%;
      scale: 0;

      .loaded & {
        transition: scale 0.2s ease 0s;
      }
    }
  }

  &__label {
    font-size: mixins.toRem(13);
    line-height: math.div(20, 14);
  }

  &__submit {
    width: 100%;
    margin-top: mixins.toRem(4);
    justify-content: center;
    position: relative;
    padding-block: mixins.toRem(13);

    > i {
      position: absolute;
      right: mixins.toRem(18);
    }
  }

  &__error {
    position: absolute;
    top: calc(100% + mixins.toRem(2));
    left: mixins.toRem(5);
    color: var(--text-error-color);
    font-size: mixins.toRem(11);
    line-height: 1.2;
  }
}

.authDrawer {
  .drawer__close {
    z-index: 1;
    border-radius: 50%;
    background-color: var(--bg-main-color);
  }

  &__content {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-menu-color);
  }

  &__body {
    min-height: 100%;
    flex: 1 1 auto;
    display: flex;
    overflow: hidden auto;
  }
}

.auth-drawer {
  width: 100%;
  max-width: mixins.toRem(324);
  margin: auto;

  @include mixins.adaptiveValue("padding-block", 76, 80, 1920, 360);

  @media (width < #{mixins.toEm(768)}) {
    max-width: none;
    padding-inline: mixins.toRem(32);
  }

  &__title {
    text-align: center;
    font-weight: 500;

    @include mixins.adaptiveValue("font-size", 36, 32);
    @include mixins.adaptiveValue("line-height", 46, 40);
  }

  &__text {
    margin-top: mixins.toRem(10);
    color: var(--text-secondary-color);
    font-size: mixins.toRem(15);
    line-height: math.div(22, 15);
  }

  &_compact {
    .auth-drawer__title {
      text-align: left;
    }

    .auth-form {
      margin-top: mixins.toRem(28);
    }
  }

  &_success {
    text-align: center;

    .auth-drawer__title {
      margin-top: mixins.toRem(20);
    }

    .auth-drawer__text {
      text-align: left;
    }

    .form__submit {
      margin-top: mixins.toRem(38);
    }
  }

  &__status {
    width: mixins.toRem(72);
    aspect-ratio: 1;
    margin-inline: auto;
    display: grid;
    place-items: center;
    color: var(--text-secondary-color);
  }
}

.auth-tabs {
  margin-top: mixins.toRem(28);

  &__navigation {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-bottom: mixins.toRem(3) solid var(--bg-main-color);
  }

  &__title {
    position: relative;
    padding-bottom: mixins.toRem(14);
    font-size: mixins.toRem(15);
    line-height: math.div(22, 15);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: mixins.toRem(-3);
      left: 0;
      padding-top: mixins.toRem(3);
      background-color: var(--bg-green-color);
      scale: 0 1;

      .loaded & {
        transition: scale 0.3s ease 0s;
      }
    }

    &._tab-active::after {
      scale: 1;
    }
  }

  &__content {
    margin-top: mixins.toRem(32);
  }
}

.auth-form {
  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: mixins.toRem(14);
  }

  &__link {
    color: var(--text-secondary-color);
    font-size: mixins.toRem(14);
    line-height: math.div(20, 14);

    .loaded & {
      transition: color 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--text-green-color);
      }
    }
  }

  &__agreement {
    margin-block: mixins.toRem(2);
  }
}

.auth-page {
  &__section {
    max-width: mixins.toRem(1576);
    margin: mixins.toRem(12) auto;
    border-radius: mixins.toRem(12);
    background-color: var(--bg-section-color);
  }

  &__container {
    @include mixins.adaptiveValue("padding-top", 28, 20);
    @include mixins.adaptiveValue("padding-bottom", 118, 68);
  }

  &__title {
    margin-top: mixins.toRem(15);

    @include mixins.adaptiveValue("font-size", 44, 28);
    @include mixins.adaptiveValue("line-height", 54, 36);
  }

  &__body {
    display: flex;
    justify-content: center;

    @include mixins.adaptiveValue("margin-top", 50, 25, 1600, 767);
  }

  &__card {
    width: 100%;
    max-width: mixins.toRem(594);
    padding: mixins.toRem(62) mixins.toRem(30);
    border-radius: mixins.toRem(10);
    background-color: var(--bg-menu-color);
  }

  &__content {
    width: 100%;
    >*:not(.auth-page__subtitle) {
      width: 100%;
      max-width: mixins.toRem(324);
      margin-inline: auto;
    }
  }

  &__subtitle {
    font-family: var(--font-tik-tok);
    font-size: mixins.toRem(25);
    font-weight: 500;
    line-height: math.div(27, 25);
    letter-spacing: -0.02em;
    text-align: center;
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: mixins.toRem(10);
    margin-top: mixins.toRem(24);
    padding: mixins.toRem(20) mixins.toRem(24);
    border-radius: mixins.toRem(10);
    background-color: var(--bg-main-color);
  }

  &__social {
    width: mixins.toRem(34);
    aspect-ratio: 1;
    flex: 0 0 auto;
    display: grid;
    place-items: center;

    .loaded & {
      transition:
        opacity 0.3s ease,
        scale 0.3s ease;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &:nth-child(2) svg {
      width: 42%;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.75;
        scale: 1.08;
      }
    }
  }

  &__separator {
    margin-block: mixins.toRem(16);
    color: var(--text-secondary-color);
    font-size: mixins.toRem(15);
    line-height: math.div(22, 15);
    text-align: center;
  }

  &__registration {
    margin-top: mixins.toRem(28);
    color: var(--text-secondary-color);
    font-size: mixins.toRem(14);
    line-height: math.div(20, 14);
    text-align: center;

    a {
      display: block;
      color: var(--text-green-color);

      .loaded & {
        transition: color 0.3s ease;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--text-accent-color);
        }
      }
    }
  }

  @media (width < #{mixins.toEm(1600)}) {
    &__section {
      margin: mixins.toRem(12);
    }
  }

  @media (width < #{mixins.toEm(768)}) {
    &__section {
      margin: 0;
      border-radius: 0;
    }

    &__container {
      padding-inline: mixins.toRem(20);
    }

    &__card {
      max-width: none;
      padding: mixins.toRem(30) mixins.toRem(20) mixins.toRem(38);
    }

    &__content {
      max-width: none;
    }

    &__subtitle {
      display: none;
    }

    &__socials {
      margin-top: 0;
      padding-inline: mixins.toRem(18);
    }

    &__social {
      width: mixins.toRem(36);
    }

    &__registration {
      margin-top: mixins.toRem(30);
      font-size: mixins.toRem(15);
      line-height: math.div(22, 15);
    }
  }

  @media (width < #{mixins.toEm(380)}) {
    &__socials {
      gap: mixins.toRem(7);
      padding-inline: mixins.toRem(12);
    }

    &__social {
      width: mixins.toRem(32);
    }
  }
}
