/**
 * @fileOverview Стили общего футера сайта.
 */

@use "base/mixins";
@use "variables";
@use "sass:math";

.footer {
  color: var(--text-light-color);
  background-color: var(--bg-dark-color);
  padding-bottom: mixins.toRem(60);

  @include mixins.adaptiveValue("padding-top", 77, 33);

  &__logo {
    display: block;
    @include mixins.adaptiveValue("width", 166, 116);

    img {
      width: 100%;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;

    @include mixins.adaptiveValue("gap", 38, 30, 1410, 992);
    @include mixins.adaptiveValue("margin-top", 37, 20);
  }

  &__nav-list {
    display: grid;
    font-size: mixins.toRem(15);
    line-height: math.div(35, 15);

    a {
      transition: color 0.3s ease;

      @media (any-hover: hover) {
        &:hover {
          color: var(--text-green-color);
        }
      }
    }
  }

  &__phones,
  &__emails,
  &__showrooms {
    display: grid;
  }

  &__phones {
    gap: mixins.toRem(16);
  }

  &__emails {
    gap: mixins.toRem(18);
  }

  &__showrooms {
    gap: mixins.toRem(7);
  }

  &__phone,
  &__contact,
  &__showroom {
    display: grid;
  }

  &__showroom {
    @media (width >= #{mixins.toEm(variables.$tablet)}) {
      &:not(:nth-last-child(1 of &)) {
        margin-bottom: mixins.toRem(9);
      }
      &:nth-last-child(1 of &) {
        margin-bottom: mixins.toRem(25);
      }
    }
  }

  &__label {
    color: var(--text-muted-color);
    font-size: mixins.toRem(14);
    line-height: math.div(22, 14);
  }

  &__value {
    width: fit-content;
    font-size: mixins.toRem(19);
    font-weight: 500;
    line-height: math.div(32, 19);
    transition: color 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: var(--text-green-color);
      }
    }
  }

  &__title {
    font-size: mixins.toRem(19);
    font-weight: 500;
    line-height: math.div(32, 19);
  }

  &__address {
    font-size: mixins.toRem(15);
    line-height: math.div(32, 15);
  }

  &__socials {
    display: flex;
    gap: mixins.toRem(14);
    margin-top: mixins.toRem(6);

    .action-button_social {
      width: mixins.toRem(56);
      padding: 0;
      border-radius: mixins.toRem(5);
      background-color: var(--bg-social-color);
      box-shadow: none;

      &:nth-child(1) svg {
        width: mixins.toRem(24);
        height: auto;
      }

      &:nth-child(2) svg {
        width: mixins.toRem(20);
        height: auto;
      }

      &:nth-child(3) svg {
        width: mixins.toRem(26);
        height: auto;
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--bg-glass-fill-color);
        }
      }
    }
  }

  &__legal {
    display: grid;
    grid-template-columns: 1fr 3.3fr;
    align-items: center;
    gap: mixins.toRem(38);
    color: var(--text-muted-color);
    font-size: mixins.toRem(15);
    line-height: math.div(26, 15);

    @include mixins.adaptiveValue("margin-top", 80, 19);

    a {
      transition: color 0.3s ease;

      @media (any-hover: hover) {
        &:hover {
          color: var(--text-light-color);
        }
      }
    }

    &-small {
      display: flex;
      justify-content: space-between;
      gap: 0 mixins.toRem(4);
      font-size: mixins.toRem(13);
      line-height: math.div(26 , 13);

      @media (width < #{mixins.toEm(variables.$tablet)}) {
        flex-wrap: wrap;
      }
      @media (width < #{mixins.toEm(variables.$mobile)}) {
        flex-direction: column;
      }
    }
  }

  @media (width < #{mixins.toEm(variables.$tablet)}) {
    &__container {
      padding-inline: mixins.toRem(8);
    }

    &__logo {
      width: mixins.toRem(116);
    }

    &__body {
      display: block;
    }

    &__nav-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: mixins.toRem(0) mixins.toRem(20);
      font-size: mixins.toRem(15);
      line-height: math.div(32, 15);
    }

    &__section {
      padding-inline: mixins.toRem(8);
      border-top: mixins.toRem(1) solid var(--bg-dark-secondary-color);

      margin-inline: mixins.toRem(-8);
      margin-top: mixins.toRem(18);
      padding-top: mixins.toRem(18);
    }

    &__phones {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: mixins.toRem(20);
    }

    &__emails {
      gap: mixins.toRem(9);
    }

    &__showrooms {
      gap: mixins.toRem(6);
    }

    &__phone,
    &__contact,
    &__showroom {
      gap: mixins.toRem(8);
    }

    &__label {
      font-size: mixins.toRem(12);
      line-height: math.div(16, 12);
    }

    &__value {
      font-size: mixins.toRem(17);
      line-height: math.div(24, 17);
    }

    &__title {
      font-size: mixins.toRem(18);
      line-height: math.div(24, 18);
    }

    &__address {
      font-size: mixins.toRem(14);
      line-height: math.div(22, 14);
    }

    &__socials {
      margin-top: mixins.toRem(8);

      .action-button_social {
        width: mixins.toRem(48);
        padding: 0;
      }
    }

    &__legal {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
      margin-top: mixins.toRem(19);
      font-size: mixins.toRem(13);
      line-height: math.div(26, 13);
    }
  }
}
