/**
 * @fileOverview Стили детальной страницы решения по освещению.
 */

@use "base/mixins";
@use "variables";
@use "sass:math";

.solution-detail {
  background-color: var(--bg-main-color);
}

.solution-zones {
  padding-top: mixins.toRem(48);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(36);
  }

  &__slider {
    margin-top: mixins.toRem(34);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(24);
    }
  }

  &__track {
    @media (width < #{mixins.toEm(variables.$mobile)}) {
      overflow: visible;
    }
  }

  .splide__slide {
    width: calc((100% - mixins.toRem(60)) / 3);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      width: mixins.toRem(250);
    }
  }

}

.solution-zone-card {
  height: 100%;
  padding: mixins.toRem(28) mixins.toRem(34) mixins.toRem(32);
  border-radius: mixins.toRem(10);
  background-color: var(--bg-section-color);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding: mixins.toRem(14) mixins.toRem(14) mixins.toRem(16);
    border-radius: mixins.toRem(5);
  }

  img {
    width: 100%;
    aspect-ratio: 372 / 237;
    display: block;
    border-radius: mixins.toRem(5);
    object-fit: cover;
  }

  h3 {
    margin-top: mixins.toRem(27);
    font-family: var(--font-tik-tok);
    font-size: mixins.toRem(20);
    font-weight: 500;
    line-height: math.div(25, 20);
    letter-spacing: -0.02em;

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(12);
      font-size: mixins.toRem(17);
      line-height: math.div(22, 17);
    }
  }
}

.solution-detail-popular {
  margin-top: mixins.toRem(86);
  padding-top: mixins.toRem(66);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    margin-top: mixins.toRem(32);
    padding-top: mixins.toRem(44);
  }

  &_mobile {
    margin-top: 0;
  }
}

.solution-detail-projects {
  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(58);
  }
}

.solution-detail-process {
  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(58);
  }
}

.solution-products {
  padding-top: mixins.toRem(82);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(72);
  }

  .project-equipment__head {
    align-items: flex-end;
  }
}

.solution-detail-calculator {
  padding-top: mixins.toRem(112);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(72);
  }
}

.solution-detail-request {
  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(58);
  }
}

.solution-other {
  padding-top: mixins.toRem(90);
  padding-bottom: mixins.toRem(98);
  background-color: var(--bg-section-color);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding-top: mixins.toRem(52);
    padding-bottom: mixins.toRem(42);
  }

  &__slider {
    margin-top: mixins.toRem(38);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-top: mixins.toRem(26);
    }
  }

  &__track {
    @media (width < #{mixins.toEm(variables.$mobile)}) {
      overflow: visible;
    }
  }

  .splide__slide {
    width: calc((100% - mixins.toRem(60)) / 3);

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      width: mixins.toRem(225);
    }
  }

}

.solution-other-card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: mixins.toRem(24);
  padding: mixins.toRem(45) mixins.toRem(40);
  border: mixins.toRem(2) solid transparent;
  border-radius: mixins.toRem(10);
  background-color: var(--bg-main-color);
  box-shadow: 0 mixins.toRem(8) mixins.toRem(24) var(--shadow-card-color);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    padding: mixins.toRem(28) mixins.toRem(18);
    border-radius: mixins.toRem(5);
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--border-green-color);
    }
  }

  .loaded & {
    transition: border-color 0.3s ease;
  }

  span {
    font-family: var(--font-tik-tok);
    font-size: mixins.toRem(20);
    font-weight: 500;
    line-height: math.div(25, 20);
    letter-spacing: -0.02em;

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      font-size: mixins.toRem(17);
      line-height: math.div(22, 17);
    }
  }

  svg {
    width: mixins.toRem(42);
    height: mixins.toRem(42);
    flex: 0 0 auto;
    color: var(--text-secondary-color);
  }
}
